{% extends 'base.html' %}
{% block content %}
<div style="height:100%; background-color: #CDEAAB; padding: 20px;">
  <div class="container">
    <h1 class="text-center py-4" style="font-weight: bold;">達成項目詳細</h1>
    <div style="text-align: center;">
      <img style="max-width: 45%; max-height: 80vh;" src={{ object.picture.url }}>
    </div>
    <br>
    <br>
    <table style="margin: auto;font-size: 20px;">
      <tr>
        <td style="padding: 10px;"><strong>名前</strong></td>
        <td style="padding: 10px;">{{ object.name }}</td>
      </tr>
      <tr>
        <td style="padding: 10px;"><strong>詳細情報</strong></td>
        <td style="padding: 10px;">{{ object.detail }}</td>
      </tr>
      <tr>
        <td style="padding: 10px;"><strong>かかった金額</strong></td>
        <td style="padding: 10px;">{{ object.price }}円</td>
      </tr>
      <tr>
        <td style="padding: 10px;"><strong>達成した日</strong></td>
        <td style="padding: 10px;">{{ object.achieved_date|date:"Y年m月d日" }}</td>
      </tr>
      <tr>
        <td style="padding: 10px; min-width: 150px"><strong>達成したかった理由</strong></td>
        <td style="padding: 10px;">{{ object.text }}</td>
      </tr>
      <tr>
        <td style="padding: 10px; min-width: 150px"><strong>タイプ</strong></td>
        <td style="padding: 10px;">
          {% if object.type == "WantItem" %}
            ほしいもの
          {% elif object.type == "ToDoThing" %}
            やりたいこと
          {% endif %}
        </td>
      </tr>
    </table>
    <br>
    <div style="text-align: center">
      <a class="btn btn-danger btn-lg" style="margin: 20px; width: 235px" href="{% url 'lists:delete_achieved_thing' pk=object.id %}">達成項目を削除する</a>
    </div>
    <br>
    <div style="text-align: center">
      <a class="btn btn-info btn-lg" style="margin: 20px; width: 235px" href="{% url 'lists:achieved_list' %}">戻る</a>
    </div>
  <div>
<div>
{% endblock %}